{{- $name := promptStringOnce . "name" "What is your name" "endoumame" -}}
{{- $email := promptStringOnce . "email" "What is your email address" "87973394+endoumame@users.noreply.github.com" -}}

sourceDir = {{ printf "~/ghq/github.com/%s/dotfiles" $name | quote }}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
